<!DOCTYPE html>
<html lang="en">
<%- include('includes/head'), {tittle: 'Shop - Products'} %>
<body>

<%- include('includes/header_nav') %>

    <section class="shop">
        <h2>Shop Our Collection</h2>
        <br>
        <h3>Our current collection contains these <%= productCount %> Items: </h3>
        <br>
        <section class="shop">
            <!-- CONNECT ROUTING -->
                <form action="/search" method="POST">
                    <input type="text" name="search" id="textInput" placeholder="What are you looking for?" />
                    <button>Search</button>
                </form>
            </div>
        </section>
        <div class="products-grid">
           
            <% products.forEach(product => { %>

                <div class="product-card">
                    <img src="/assets/src/<%= imgCheckIfEmpty(product.img) %>" alt="Product 1">
                    <h4>
                    <a href="/products/<%= product.slug %>"><%= product.name %> </a>
                    </h4>
                        <p><%= product.price %></p> <!-- ADD Product price and pictures here with database-->
                    <% if(product.isInStock) { %> 
                        <button class="btn">Add to Cart</button>
                    <% } else { %>
                        <br> 
                      [SOLD OUT] 
                     <% } %>
                </div>
              <% }) %>

        </div>
    </section>
</body>
</html>
