<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
<body>

<%- include('includes/header_nav') %>
    <section class="shop">
        <h2> <%= product.name %></h2>
        <br>
        <img src="/assets/src/<%= imgCheckIfEmpty(product.img) %>" alt="Product 1">
        <br>
        <p>Price: <%= product.price %></p>
        <p>In stock: <%= product.isInStock %></p>
        
        

       
    </section>
</body>
</html>
